Q1 Say "Hello World" with python

In [1]:
print("Hello, World!")

Hello, World!

Q2 Python if-else

In [3]:
#!/bin/python3

import math
import os
import random
import re
import sys


if __name__ == '__main__':
    n = int(input().strip())
if (n%2==0):
  if(2<= n<=5):
   print("Not Weird")
  elif (6<= n<=20):
   print("Weird")
  elif (6<=n):
    print("Not Weird")
else:
  print("Weird")

5
Weird

Q3 Arithmatc Operator

In [2]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
print (a+b)
print (a-b)
print (a*b)

5
6
11
-1
30

Q4 Python Division

In [5]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print (a//b)
    print(a/b)

5
5
1
1.0

Q5 Loops

In [6]:
if __name__ == '__main__':
    n = int(input())
    for i in range(n):
      print (i*i)

5
0
1
4
9
16

Q6 Write a Function

In [7]:
def is_leap(year):
    leap = False
    if (year % 400 == 0):
        leap = True
    elif (year % 100 == 0):
        leap = False
    elif (year % 4 == 0):
        leap = True
    else:
        leap = False
    # Write your logic here

    return leap

year = int(input())
print(is_leap(year))

2004
True

Q7 Print Function

In [11]:
if __name__ == '__main__':
    n = int(input())
    result= ""
    for i in range(1,n+1):
     result += str(i)
    print(result)

5
12345